<div class="container p-rel">
	<h1 class = "text-center">Here are the results that were found for <%= @findStudent %></h1>
	<div class = "text-center"><a href="/admin_students">Go Back To Search</a></div>
	<table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Email
				</th>
				<th>
					<!-- placeholder for edit -->
				</th>
				<th>
					<!-- placeholder for delete -->
				</th>
			</tr>			
		</thead>
		<tbody>
			<div>
				<% @student.each do |student| %>
					<tr>
						<td>
							<%= student.name%>
						</td>
						<td>
							<%= student.email%>
						</td>
						<td>
							<a href="/admin_students/<%= student.id%>/edit" class="btn custom-btn borderless"> Edit <span class="glyphicon glyphicon-edit"></span></a>
						</td>
						<td>
							<%= button_to('Destroy', "/admin_students/#{student.id}", class: 'btn custom-btn-dngr navbar-btn', method: "delete", data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
						</td>
					</tr>
				<% end %>
			</div>	
		</tbody>
	</table>
</div>