<%= form_for([@event, @student]) do |f| %>

  <%= f.hidden_field :email, class: 'form-control' %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :year %>
    <%= f.select( :year, Student.years.map { |key, value| [key, key] }, 
    {include_blank: "Select Year"},{ :class => 'form-control' })%>
  </div>

  <div class="form-group">
    <%= f.label :school_id %>
    <%= f.select( :school_id, options_from_collection_for_select(School.all, :id, :name, selected: @student.school_id), {include_blank: "Select School"}, { :class => 'form-control' })%>
  </div>

  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>

  <div class="form-group">

    <%= f.label :referrals, 'How did you hear about us?' %>

    <% Referral.referral_types.each do |referral| %>
      <div>
        <%= referral[0] %>
        <input type="checkbox" name="referrals[]" value="<%= referral[1] %>">
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <label>
      <%= f.check_box :newsletter %>
      Okay to send you occasional updates about Student Night events?
    </label>
  </div>

  <div class="row">
    <%= f.submit "Continue!", class: "btn custom-btn col-xs-4 col-xs-offset-4" %>
  </div>
<% end %>