<div class="container bottom_space">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Merge Student</h2>
      <h4 class="text-center">You are merging '<%= @change.name %>' into another student's record.</h4>

      <hr>
      <p>'<%= @change.name %>' will be deleted, and all of the student's attendance data will be transfered to another student. Please select the student to transfer <%= @change.name %>'s data to.</p>

      <hr>
      
      <%= form_for "searchKeep", url:"/merge_students/#{@change.id}",  method: 'get' do |f| %>
      <div class= "form-group">
        <%= f.label "name" %>
        <%= f.text_field "name", class: "form-control"%>
        <%= f.submit "Search", class: "btn custom-btn col-xs-4 col-xs-offset-4" %>
      </div>
      <% end %>
    </div>
  </div>
</div>