<!-- 
# @p1 = { "name" => "John", "email" => "jt@wow.com", "attend" => 15 }
# @p2 = { "name" => "John", "email" => "jt2@wow.com", "attend" => 3 }
# binding.pry
# h1 = { "name" => @p1["name"], "email" => @p1["email"]}
# h2 = { "name" => @p2["name"], "email" => @p2["email"]}
# h1 = h1.merge(h2) { |key, v1, v2| v2 }
#                 #=> {"a"=>100, "b"=>200, "c"=>300}
# binding.pry -->


<div class="container bottom_space">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Pick the students you would like to merge</h2>
      <h4 class="text-center">The first name will be the one that is added to the second</h4>
      <%= form_for "studentMerge", method: 'get' do |f| %>

      	<%= f.label :change %>
      	<%= f.select(:firstStudent, options_from_collection_for_select(Student.all.limit(30), :id, :name), { include_blank: true }, { :class => 'form-control' })%>

      	<%= f.label :keep %>
      	<%= f.select(:secondStudent, options_from_collection_for_select(Student.all.limit(30), :id, :name), { include_blank: true }, { :class => 'form-control' })%>
      	<div class="row">
      	  <%= f.submit "Continue!", class: "btn custom-btn col-xs-4 col-xs-offset-4" %>
      	</div>
      <% end %>
    </div>
  </div>
</div>

                

