<div class="container p-rel">
	<h2 class="text-center">Merge Student</h2>
	<h4 class="text-center">You are merging '<%= @student1.name %>' into another student's record.</h4>

	<hr>
	<p>'<%= @student1.name %>' will be deleted, and all of the student's attendance data will be transfered to another student.</p>
	<p>Please select the student to transfer <%= @student1.name %>'s data to.</p>

	<hr>

	<table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Email
				</th>
				<th>
					School
				</th>
				<th>
					Attendances
				</th>
				<th>
					Merge?
				</th>
			</tr>			
		</thead>
		<tbody>
				<% @student2.each do |student| %>
					<tr>
						<td>
							<%= student.name %>
						</td>
						<td>
							<%= student.email %>
						</td>
						<td>
							<%= student.school.name %>
						</td>
						<td>
							<%= student.attendances.count %>
						</td>
						<td>
							<%= link_to "Select", merge_student_path(student, @student1.id), class: "custom-btn btn", method: :patch, data: { confirm: 'Confirm: You are executing the merge. There is no undo.', disable_with: 'loading...' }%>
						</td>
					</tr>
				<% end %>
		</tbody>
	</table>
</div>
