<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= render 'layouts/stats_header' %>

<div class="container">
	<div class="row">
	  <div class="col-sm-6">
			<table class="table table-bordered">
				<h4>Stats By Event</h4>
				<thead>
					<tr>
						<th>EVENT</th>
						<th>Students</th>
						<th>Schools</th>
					</tr>
				</thead>
				<tbody>
					<%  @events.each do |event|  %>
								<tr>
									<td><%= event %></td>
									<td><%= Event.new.students_by_event(event) %></td>
									<td><%= Event.new.school_by_event(event)   %></td>
								</tr>
						<% end %>
				</tbody>
			</table>
	  </div>

	  <div class="col-sm-6">
			<table class="table table-bordered">
				<h4>Schools All Time</h4>
				<thead>
					<tr>
						<th>Schools</th>
						<th>All Time Represented</th>
					</tr>
				</thead>
				<tbody>
					<%  Event.new.school_all_time_attendances.each do |school, num| %>
								<tr>
									<td><%= school %></td>
									<td><%= num %></td>
								</tr>
						<% end %>
				</tbody>
			</table>
	  </div>
	</div>
</div>