<%= render 'layouts/stats_header' %>
<div class="container">

	<%= line_chart [
	  {name: "All Attendances", data: Attendance.all.group_by_year(:created_at).count.map},
	  {name: "Unique Students", data: @unique_students.map},
	  {name: "Unique Schools", data:  @unique_schools.map} 
	]%>  
	<h2>Attendances By Year</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Year</th>
				<th>Total Attendances</th>
				<th>Unique Students</th>
				<th>Unique Schools</th>
			</tr>
		</thead>
		<tbody>
			<%  @years.each do |year|  %>
				<tr>
					<td><%= year %></td>
					<td><%= Event.new.year_student_attendances(year) %></td>
					<td><%= Event.new.unique_student_attendances(year) %></td>
					<td><%= Event.new.unique_schools(year) %></td>
				</tr>
			<% end %>
			  <tr class="stats-sums">
			  	<td>Total</td>
			  	<td><%= @attendances %></td>
			  	<td><%= Attendance.uniq.pluck(:student_id).count %></td>
			  	<td><%= Student.uniq.pluck(:school_id).count %></td>
			  </tr>
			  <tr>
			  	<td>Ave</td>
			  	<td><%= @attendances/@years.length %></td>
			  	<td><%= @unique_students.values.sum/@unique_students.count %></td>
			  	<td><%= @unique_schools.values.sum/@unique_schools.count %></td>
			  </tr>
		</tbody>
	</table>
</div>

