<%= render 'layouts/stats_header' %>


<div class="container">

	<%= line_chart [
	  {name: "All Attendances", data: Attendance.all.group_by_year(:created_at).count.map},
	  {name: "Unique Students", data: Attendance.all.group_by_year(:created_at).select(:student_id).uniq.count.map},
	  {name: "Unique Schools", data: Attendance.group_by_year('attendances.created_at').joins(:student => :school).select('schools.name').uniq.count.map} 

	]%>  

	<%= line_chart [
	  {name: "Unique Schools", data: Attendance.group_by_year('attendances.created_at').joins(:student => :school).select('schools.name').uniq.count.map} 
	]%>  

	<span class="text-primary">Total Attendances = <%= @attendances %></span><br>
  <span class="text-primary">Avg Yearly Attendances = <%= @attendances/@years.length %></span><br>
	<h2>Attendances By Year</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Year</th>
				<th>Total Attendances</th>
				<th>Unique Students</th>
				<th>Unique Schools</th>
			</tr>
		</thead>
		<tbody>
			<%  @years.each do |year|  %>
				<tr>
					<td><%= year %></td>
					<td><%= Event.new.year_student_attendances(year) %></td>
					<td><%= Event.new.unique_student_attendances(year) %></td>
					<td><%= Event.new.unique_schools(year) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

