<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <h1>hellp</h1>
  </div>
</nav>

<div class="container">

<%= line_chart [
  {name: "Attendances", data: Attendance.all.group_by_year(:created_at).count.map},
  {name: "Unique Attendances", data: Attendance.all.group_by_year(:created_at).select(:student_id).uniq.count.map}
  
] %>  


	<span class="text-primary">Total Attendances = <%= @attendances %></span><br>
  <span class="text-primary">Avg Yearly Attendances = <%= @attendances/@years.length %></span><br>
	<h2>Attendances By Year</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Year</th>
				<th>Total Attendances</th>
				<th>Unique Students</th>
				<th>Unique Schools</th>
			</tr>
		</thead>
		<tbody>
			<%  @years.each do |year|  %>
				<tr>
					<td><%= year %></td>
					<td><%= Event.new.year_student_attendances(year) %></td>
					<td><%= Event.new.unique_student_attendances(year) %></td>
					<td><%= Event.new.unique_schools(year) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






	<span>Date Range</span>
	<form action="/statistics" method="get">
		<input type='date' name='start_date' value="<%= params['start_date'] || (Time.now.midnight - 365.day).strftime("%Y-%m-%d") %>" maxlength='4' />
		<input type='date' name='end_date' value="<%= params['end_date'] || (Time.now.midnight).strftime("%Y-%m-%d") %>" maxlength='4' />
		<button type='submit'>Submit</button>
	</form>

	<form action="/statistics" method="get">
		<input type='hidden' name='start_date' value="2000-01-01"/>
		<input type='hidden' name='end_date' value="<%=(Time.now.midnight + 1.day).strftime("%Y-%m-%d") %>"/>
		<button type='submit'>All Time</button>
	</form>

 	<form action="/statistics" method="get">
	<input type='hidden' name='start_date' value="<%=(Time.new.beginning_of_year).strftime("%Y-%m-%d") %>"/>
	<input type='hidden' name='end_date' value="<%=(Time.now.midnight + 1.day).strftime("%Y-%m-%d") %>"/>
	<button type='submit'>This Year</button>
</form>

	<form action="/statistics" method="get">
		<input type='hidden' name='start_date' value="<%=(Time.new.beginning_of_year - 1.year).strftime("%Y-%m-%d") %>"/>
		<input type='hidden' name='end_date' value="<%=(Time.new.end_of_year - 1.year).strftime("%Y-%m-%d") %>"/>
		<button type='submit'>Last Year</button>
	</form>





	<!-- total by date -->

	<%= referrals_by_date %>
	<%= movies_by_date %>
	<%= schools_by_date %>
	<%= grade_by_date %>
	<%= zip_by_date %>

	<!-- Trends -->
	<%= line_chart school_trends %>	
	<%= line_chart referral_trends %>

<%= select_tag "PickAYear", options_for_select(@years) %>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>