<%= render 'layouts/stats_header' %>
<div class="container">

	<%= line_chart [
	  {name: "All Attendances", data: Attendance.all.group_by_year(:created_at).count.map},
	  {name: "Unique Students", data: @unique_students.map},
	  {name: "Unique Schools", data:  @unique_schools.map} 
	]%> 

	<!-- This qeury selects all attendances from a location -->
	<!-- TODO: SELECT * FROM attendances JOIN events ON attendances.event_id = events.id WHERE events.location = 0; --> 

	<%= line_chart [
	  {name: "All Attendances", data: get_attendances_per_event(0)},
	  {name: "Unique Students", data: get_students_per_location(0)},
	  {name: "Unique Schools", data: get_schools_per_location(0)}
	]%> 

	<%= line_chart [
	  {name: "All Attendances", data: get_attendances_per_event(1)},
	  {name: "Unique Students", data: get_students_per_location(1)},
	  {name: "Unique Schools", data: get_schools_per_location(1)}
	]%> 






	<h2>Attendances By Year For The Ruth Sokolof Theater</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Year</th>
				<th>Total Attendances</th>
				<th>Unique Students</th>
				<th>Unique Schools</th>
			</tr>
		</thead>
		<tbody>
			<%  @years_for_ruth_sokolof.each do |year|  %>
				<tr>
					<td><%= year %></td>
					<td><%= Event.new.year_student_attendances(year) %></td>
					<td><%= Event.new.unique_student_attendances(year) %></td>
					<td><%= Event.new.unique_schools(year) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<h2>Attendances By Year For The Dundee Theater</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Year</th>
				<th>Total Attendances</th>
				<th>Unique Students</th>
				<th>Unique Schools</th>
			</tr>
		</thead>
		<tbody>
			<%  @years_for_the_dundee.each do |year|  %>
				<tr>
					<td><%= year %></td>
					<td><%= Event.new.year_student_attendances(year) %></td>
					<td><%= Event.new.unique_student_attendances(year) %></td>
					<td><%= Event.new.unique_schools(year) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>


	<h2>Attendances By Year</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Year</th>
				<th>Total Attendances</th>
				<th>Unique Students</th>
				<th>Unique Schools</th>
			</tr>
		</thead>
		<tbody>
			<%  @years.each do |year|  %>
				<tr>
					<td><%= year %></td>
					<td><%= Event.new.year_student_attendances(year) %></td>
					<td><%= Event.new.unique_student_attendances(year) %></td>
					<td><%= Event.new.unique_schools(year) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<h2>All Time</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Total Attendances</th>
				<th>Unique Students</th>
				<th>Unique Schools</th>
			</tr>
		</thead>
		<tbody>
		  <tr>
		  	<td>Total</td>
		  	<td><%= @attendances %></td>
		  	<td><%= Attendance.uniq.pluck(:student_id).count %></td>
		  	<td><%= Student.uniq.pluck(:school_id).count %></td>
		  </tr>
		  <tr>
		  	<td>Avg (year)</td>
		  	<td><%= @attendances/@years.length %></td>
		  	<td><%= @unique_students.values.sum/@unique_students.count %></td>
		  	<td><%= @unique_schools.values.sum/@unique_schools.count %></td>
		  </tr>
		</tbody>
	</table>







	<h2>All Time For Ruth Sokolof Theater</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Total Attendances</th>
				<th>Unique Students</th>
				<th>Unique Schools</th>
			</tr>
		</thead>
		<tbody>
		  <tr>
		  	<td>Total</td>
		  	<td><%= get_attends_for_location(0) %></td>
		  	<td><%= location_students(0) %></td>
		  	<td><%= location_schools(0) %></td>
		  </tr>
		  <tr>
		  	<td>Avg (year)</td>
		  	<td><%= get_attends_for_location(0) / @years.length %></td>
		  	<td><%= location_students(0) / location_students_grouped(0).count %></td>
		  	<td><%= location_schools_grouped(0).values.sum / location_schools_grouped(0).count %></td>
		  </tr>
		</tbody>
	</table>







	<h2>All Time For The Dundee Theater</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Total Attendances</th>
				<th>Unique Students</th>
				<th>Unique Schools</th>
			</tr>
		</thead>
		<tbody>
		  <tr>
		  	<td>Total</td>
		  	<td><%= get_attends_for_location(1) %></td>
		  	<td><%= location_students(1) %></td>
		  	<td><%= location_schools(1) %></td>
		  </tr>
		  <tr>
		  	<td>Avg (year)</td>
		  	<td><%= get_attends_for_location(1) / @years.length %></td>
		  	<td><%= location_students(1) / location_students_grouped(1).count %></td>
		  	<td><%= location_schools_grouped(1).values.sum / location_schools_grouped(1).count %></td>
		  </tr>
		</tbody>
	</table>
	
	<h2 style="display:inline;">  Student Referral Sources</h2><h4 style="display:inline;"> (Deselect 'other' sources for better view)</h4>
	<%= pie_chart @referrals.sort_by{|k,v| v}.reverse %>

</div>

