<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= render 'layouts/stats_header' %>
<div class="container">
	<div class="row">
	  <div class="col-sm-4">
			<form action="/statistics/list" method="get">
				<select name="year" class="form-control selectpicker">
				<%= @event_years.each do |year| %>
					<option <%= (params[:year] == year.to_s) ? "selected=selected" : "" %> value='<%= year %>'><%=year%></option>
				<% end %>
				</select>
				<button class='btn btn-default btn-space' type='submit'>Update List</button>
			</form>
			<h4>Stats by event</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>EVENT</th>
						<th>Students</th>
						<th>Schools</th>
					</tr>
				</thead>
				<tbody>
					<%  event_list_by_year.each do |event|  %>
						<% if event.attendances.count > 0 %>
							<tr>
						
								<td><a href="/statistics/<%= event.id %>?year=<%=params[:year]%>&event=<%=event.date%>"><%= event.date %></a></td>
								<td><%= event.attendances.count %></td>
								<td><%= event.school_by_event(event.id)   %></td>
							</tr>
						<% end %>
					<% end %>	
				</tbody>
			</table>
	  </div>
	  <div class="col-sm-8">
	  	<h4>Attendance trend for <%=params[:year]%>	</h4>
			<%= line_chart Attendance.by_year(params[:year]).group_by_month(:created_at).count, adapter: "google" %>
	  </div>
	</div>
</div>										