
<div class="container">

	<div class="row">
	  <div class="col-sm-4"><%= pie_chart @referrals %></div>
	  <div class="col-sm-4"><%= column_chart @movies %></div>
	  <div class="col-sm-4"><%= column_chart @schools %></div>
	</div>
	<br>
	<div class="row">
	  <div class="col-sm-4"><%= column_chart @years %></div>
	  <div class="col-sm-4"></div>
	  <div class="col-sm-4"><%= column_chart @zipcodes %></div>
	</div>

</div>
