<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= render 'layouts/stats_header' %>

<div class="container">
	<div class="row">
	  <div class="col-sm-4">
			<form action="/statistics/list" method="get">
				<select name="year" value="3">
				<%= @event_years.each do |year| %>
					<option <%= (params[:year] == year.to_s) ? "selected='selected'" : "" %>value='<%= year %>'><%=year%></option>
				<% end %>
				</select>
				<button class='btn btn-link' type='submit'>Update List</button>
			</form>
			<table class="table table-bordered">
				<h4>Stats by event</h4>
				<thead>
					<tr>
						<th>EVENT</th>
						<th>Students</th>
						<th>Schools</th>
					</tr>
				</thead>
				<tbody>
					<%  event_list_by_year.each do |event|  %>
								<tr>
									<td><a href="/statistics/<%= event.id %>?year=<%=params[:year]%>&event=<%=event.date%>"><%= event.date %></a></td>
									<td><%= Event.new.students_by_event(event.date) %></td>
									<td><%= Event.new.school_by_event(event.date)   %></td>
								</tr>
						<% end %>
				</tbody>
			</table>
	  </div>
	  <div class="col-sm-8">
	  	<h3 class="text-center"><%=params[:event]%></h3>
	  	<p class="text-center">Report containing attendance (total visits) for this event.</p>
	  	<hr>

	  	<h4>By School</h4>
			<%= bar_chart @schools.sort_by{|k,v| v}.reverse %>
			<br><br>

			<h4>By Grade</h4>
		  <%= bar_chart @years.sort_by{|k,v| v}.reverse %>
		  <br><br>
		  <table class="table table-bordered">
				<thead>
					<tr>
						<th>Zip codes</th>
						<th>Attendances</th>
					</tr>
				</thead>
				<tbody>
					<%  Hash[@zipcodes.sort_by{|k, v| v}.reverse].each do |zip, num|  %> 
								<tr>
									<td> <%= zip %></td>
									<td> <%= num %></td>
								</tr>
						<% end %>
				</tbody>
			</table>

<br>
			<hr>
			<br>
		
			<h4 class="text-center">Referrals</h4>
		  <%= pie_chart @referrals.sort_by{|k,v| v}.reverse, adapter: "google"%>

<br>
		  <hr>
	
	<br>
		  <h4 class="text-center">Movies</h4>
		  <%= pie_chart @movies.sort_by{|k,v| v}.reverse, adapter: "google"%>
	  </div>
	</div>
</div>




