<div class="container">
	<h1 class = "text-center">Upcoming Student Nights</h1>
	<hr>
	<!-- not sure if i want these buttons at all -->
<!-- 	<div class = "btn-group">
		<%= button_to "Create New Event", new_event_path,  :method => "get", class: "btn-lg btn-default" %>
		<%= button_to "View All Events Statistics", statistics_path,  :method => "get", class: "btn-lg btn-default" %>		
	</div> -->

	<table class="table">
		<thead>
			<tr>
				<th>
					Date
				</th>
				<th>
					Title
				</th>
				<th>
					
				</th>
			</tr>			
		</thead>
		<tbody>
			<% @events.each do |event| %>
				<tr>
					<td>
						<%= (Time.parse(event.date.to_s).strftime('%a, %b %d, %Y ')) %>
					</td>
					<td>
						<%= event.title %>
					</td>
					<td>
						<a href="events/<%= event.id %>" class="btn btn-default borderless">
							Edit <span class="glyphicon glyphicon-edit"></span>
					  </a>
					  <a href="events/<%= event.id %>/checkins/new" class="btn btn-default borderless">
					  	Student Sign In<span class="glyphicon glyphicon-view"></span>
		 			  </a>
					</td>
				</tr>
			<% end %>	
			
		</tbody>
		
	</table>
</div>
