<div class="container">
	<div class="container bottom_space">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3">
	      <h2 class="text-center"><%=@event.title%> Details</h2>
	      <input id="e_id" type="hidden" value="<%= @event.id %>">

	      <%= form_for @event do |f| %>

	        <%= f.label :title %>
	        <%= f.text_field :title, class: 'form-control' %>

	        <%= f.label :date %>
	        <%= f.date_field :date, class: 'form-control' %>

	        <%= f.label :location %>
         	<%= f.select :location, options_for_select([[Event.location_name_list[0], :ruth_sokolof], [Event.location_name_list[1], :dundee]]), class: 'form-control' %>

	        <%= f.submit "Update Event", class: "btn custom-btn navbar-btn" %>

	        <a class="btn custom-btn navbar-btn pull-right" href="/events/<%=@event.id%>/checkins/new" role="button">Go To Student Check-In  <span class="glyphicon glyphicon-share"></span></a>
	      <% end %>

	      <%= button_to 'Delete Event', event_path(@event), class: 'btn custom-btn-dngr navbar-btn' , 
				data: {:confirm => 'Are you sure? This will delete report information as well.'}, :method => :delete %>

	      
	    </div>
	  </div>
	</div>	

	<form class="p-1 col-md-8 col-md-offset-2" action="/movies/<%=@event.id%>" method="post">
		<table class="table">
			<thead class="">
				<tr class="table-bordered">
					<th>Title</th>
					<th>Time</th>
					<th></th>
				</tr>
				<tr>
					<th class="p-0">
						<span class ='btn btn-xs custom-btn-grn navbar-btn' role='button' id='new_movie'>Add Movie <span class="glyphicon glyphicon-plus"></span> </span>
					</th>
				</tr>
			</thead>
			<tbody class="list_movies table-bordered">

				<% @event.movies.each do |movie|  %>
		  			<%= fields_for "movie[]", movie do |movie_f| %>
							<tr class="movie_row">
							  <td><%= hidden_field_tag :authenticity_token, form_authenticity_token %>
									<%= movie_f.text_field :title, placeholder: "movie name", class: 'form-control movie_name'%></td>
								<td><%= movie_f.time_field :time, placeholder: "movie time", class: 'form-control'%></td>
								<td><%= movie_f.text_field :delete, :value => "0", class: 'collapse delete_row'%>
								<%= movie_f.number_field :event_id, class: 'collapse form-control event_id'%>
								<span class="glyphicon glyphicon-remove text-danger remove_movie delete_icon" role="button"></span></td>
							</tr>
					<% end %>
				<% end %>	
			</tbody>
		</table>

		<button class="btn custom-btn m-0" name="commit" type='submit'>
			Save Movies&nbsp;&nbsp;<span class="glyphicon glyphicon-save"></span>
		</button>

		<br>

	</form>
</div>

