<!-- Purpose of this page is to edit a given student's info. -->

<!-- 
  Form for Student #3...

  With fields for that student's
  - Name
  - Email
  - School
  - TODO: Referrals
 -->

<!-- 
  When this form is submitted, save the form data (obviously), and redirect
  back to the list of all students.
 -->

<%= form_for "student", {url: "/edit_students/save?id=#{@student.id}"} do |f| %>

  <div>
    <%= f.label "name" %>
    <%= f.text_field "name" %>
  </div>

  <div>
    <%= f.label "email" %>
    <%= f.text_field "email" %>
  </div>

  <div>
    <%= f.label "email_confirmation" %>
    <%= f.text_field "email_confirmation", {value: @student.email} %>
  </div>

  <div>
    <%= f.label "school_id" %>

    <%= f.select "school_id", options_from_collection_for_select(School.all, :id, :name, selected: @student.school_id) %>
  </div>

  <input type="submit">

<% end %>