<div>
	<div class = "studentsEditing table">
		<h2>Search for student area. If your search yields nothing, try typing part of the name</h2>
		<%= form_for "findingStudents" do |f| %>
		<div>
			<%= f.label "name" %>
    		<%= f.text_field "name" %>
		</div>
		
		<input type="submit">	

		<% end %>

		<!-- <thead>
			<tr>
				<th></th>
				<th>First student -- </th>
				<th>Second Student --</th>
				<th>
					<a href="merge/edit" class="btn custom-btn borderless"> Submit Merge <span class="glyphicon glyphicon-edit"></span>
					</a>
				</th>
		</thead> -->
	</div>
	<!-- <table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Email
				</th>
				<th>
					
				</th>
				<th>
				</th>
			</tr>			
		</thead>
		<tbody>
			<div>
				<% @student.each do |student| %>
					<tr>
						<td>
							<%= student.name %>
						</td>
						<td>
							<%= student.email %>
						</td>
						<td>
							<a href="merge/edit?id=<%= student.id %>" class="btn custom-btn borderless">
								Edit <span class="glyphicon glyphicon-edit"></span>
						  </a>
						</td>
						<td>
							<a href="#" class="btn custom-btn borderless">
								Merge <span class="glyphicon glyphicon-edit"></span>
						  </a>
						</td>
					</tr>
				<% end %>
			</div>	
			
		</tbody>
		
	</table> -->
</div>