<div class="container bottom_space">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Complete Check-In</h2>
      <h4 class="text-center">What movie are you seeing tonight?</h4>

      <hr>

      <%= form_for [@event, @attendance] do |f| %>
      	<%= f.hidden_field :event_id %>
      	<%= f.hidden_field :student_id %>

      	<% @event.movies.each do |movie| %> 
      		<label>
      			<%= f.radio_button :movie_id, movie.id,:required => true %>&nbsp;
      			<%= movie.title %> at <%= Time.parse(movie.time.to_s).strftime('%l:%M'' %P') %>
      		</label>
      		<br>
      	<% end %>

      	<%= f.submit "Finish Check-In!", class: "btn custom-btn" %>
      <% end %>
    </div>
  </div>
</div>