<div class="container">
  <h4 class="text-center">Check in and give us some feedback!</h4>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

       <%= form_for([@event, @checkin]) do |f| %>
        <%= f.label :email, class: "label-padding" %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :email_confirmation, class: "label-padding" %>
        <%= f.text_field :email_confirmation, class: "form-control" %>

        <%= f.submit "Submit", class: "btn button_top_margin btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
