<h5>Hello Student Please check-in!</h5>


<div class="container bottom_space">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

       <%= form_for(:checkin, url:{controller: "checkins", action: "create"}) do |f| %>

        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :email_confirmation, class: "label-padding" %>
        <%= f.text_field :email_confirmation, class: "form-control" %>

        <%= f.submit "Submit", class: "btn button_top_margin btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
