<!DOCTYPE html>
<html>
<head>
  <title>FilmStreamsStudentNight</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/custom.css.scss">
</head>
<body>
	<body>

		<%= render 'layouts/header' %>

		<%= yield %>

		<%= render 'layouts/footer' %>

	</body>
</body>
</html>
