<!DOCTYPE html>
<html>
<head>
  <title>FilmStreamsStudentNight</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

	<link rel="shortcut icon" href="http://www.filmstreams.org/wp-content/themes/filmstreams/inc/images/favicon.ico" />
</head>
<% if @colors %>
  <body style="background-color:<%= brand_colors(@event) %>">
<% else %>
 <body>
<% end %>
    <% if !@checkin %>
      <div class="cHeader">
        <%= render 'layouts/header' %>
      </div>
    <% else %>
      <div class='cHeader'>
        <%= render 'layouts/student_header' %>
      </div>
    <% end %>

    <div class="cMain">
      <%= yield %>
    </div>

    <div class="cFooter">
      <%= render 'layouts/footer' %>
    </div>	

	</body>
</html>