<!DOCTYPE html>
<html>
<head>
  <title>FilmStreamsStudentNight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/custom.css.scss">

	<link rel="shortcut icon" href="http://www.filmstreams.org/wp-content/themes/filmstreams/inc/images/favicon.ico" />
</head>
	<body> <!-- class="noise vignette" -->
		<div class="page-wrap">
			<%= render 'layouts/header' %>

			<%= yield %>
			
		</div>

		<%= render 'layouts/footer' %>

	</body>
</html>